
<div class="layout-container">

  <div class="banner-one">
    <h1 class="text-center">Who do you want to see?</h1>
    <%= form_with url: artists_path, method: :get, class: "d-flex search-form-border" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input-dark",
        placeholder: "Find an artist"
      %>
      <%= submit_tag "Search", class: "search-btn" %>
    <% end %>
  <%= link_to "Go back", root_path, class: "btn btn-primary" %>
</div>
