.layout-container-profile {
  background-color: #161616;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;

  .banner-one {
    height: 100px;
    padding: 0;
    margin: 0;
    h1 {
      margin: 0;
    }
  }
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  // border: 2px solid $color-accent;
  // border: 2px solid #202020;

}

.profile-container {

  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 15px 300px 15px 120px 15px 300px;
  grid-template-areas:
    "user concerts"
    "user concerts"
    "user artists"

    "user artists"
    "genres artists"

    "genres artists";

  gap: 20px;

  .concerts-title, .artists-title, .genres-title {
    color: $color-accent;
    // font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding-left: 10px;

  }


  .user-component {
    grid-area: user;
    padding: 20px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    h1 {
      font-family: 'Bebas Neue', cursive;
      font-size: 34px;
      color: $color-accent;
      margin-bottom: 40px;
    }

    img {
      margin-top: 40px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 20px rgba(73, 212, 212, 0.712);
    }

    div {
      text-align: left;
    }



    a {
      text-decoration: none;
      background-color: $color-accent;
      color: #161616;
      border-radius: 20px;
      padding: 5px 20px;
      font-size: 14px;
    }
    a:hover {
      background-color: rgb(30, 134, 134);
      color: white;
    }

  }
  .concerts-component {
    grid-area: concerts;
    padding: 60px 40px 40px 40px;
    background-color: #202020;
    border-radius: 5px;
    position: relative;

    .title-1 {
      position: absolute;
      top: 15px;
      color: $color-accent;
      font-size: 20px;

      a {
        text-decoration: none;
        color: $color-accent;
      }
    }

    h2 {
      font-size: 30px;
      color: $color-accent;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .sub-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      overflow-y: scroll;
      scrollbar-color: $color-accent #202020;
      height: 100%;
    }


    .concert-profile-card {
      width: 220px;
      height: 60px;
      font-size: 12px;
      background-color: #181818;
      background-color: #cecece;
      color: #161616;
      // background-color: #265753;
      // border: 1px solid $color-accent;
      display: flex;
      padding: 5px;
      border-radius: 5px;
      // transition: all ease-in-out 0.3s;
      // color: white;
      .dt {
        padding: 2px 5px;
        text-align: center;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
          font-size: 18px;
          font-weight: bold;
          margin: 0;
        }
        p {
          font-size: 14px;
        }
      }

      .art {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        padding: 5px;
        a {
          text-decoration: none;
          text-align: center;
          color: white;
          color: #161616;
          font-weight: bold;
        }
      }
    }

    .concert-profile-card:hover {
      background-color: whitesmoke;
      color: rgb(12, 128, 136);

      a {
        color: rgb(12, 128, 136);

      }
    }




  }

  .concerts-title {
    grid-area: concerts-title;
    a {
      text-decoration: none;
      color: $color-accent;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .artists-title {
    grid-area: artists-title;
    a {
      text-decoration: none;
      color: $color-accent;
    }
    a:hover {
      text-decoration: underline;
    }

  }
  .genres-title {
    grid-area: genres-title;
  }




  .artists-component {
    grid-area: artists;
    padding: 60px 50px 50px 10px;
    background-color: #202020;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    gap: 50px;
    position: relative;

    .title-1 {
      position: absolute;
      top: 15px;
      left: 30px;
      color: $color-accent;
      font-size: 20px;

      a {
        text-decoration: none;
        color: $color-accent;
      }
    }


    .sub-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      overflow-y: scroll;
      scrollbar-color: $color-accent #202020;
      height: 100%;
      padding-top: 10px;
    }

    .artist-card-profile {
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      // position: relative;
      transition: all ease-in-out 0.2s;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }

      p {
        padding: 0;
        margin: 0;
        margin-top: -15px;
        font-family: 'Bebas Neue', cursive;
        font-size: 26px;
        // position: absolute;
        // bottom: 10px;
        text-align: center;
        line-height: 1.5rem;

        a {
          text-decoration: none;
          color: white;
          text-align: center;
          background-color: #202020;
          padding: 0px 5px;
          margin: 0;
          transition: all ease-in-out 0.2s;
        }

        a:hover {
          color: $color-accent;
        }
      }
    }

    .artist-card-profile:hover {
      transform: translateY(-5px);
    }
  }





  .genres-component {
    grid-area: genres;
    padding: 50px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;

    .title-1 {
      position: absolute;
      top: 15px;
      left: 30px;
      color: $color-accent;
      font-size: 20px;

      a {
        text-decoration: none;
        color: $color-accent;
      }
    }

    .sub-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      overflow-y: scroll;
      scrollbar-color: $color-accent #202020;
      height: 100%;
      padding-top: 10px;


      p {
      padding: 2px 20px;
      background-color: #161616;
      background-color: transparent;
      border: 1px solid rgb(156, 156, 156);
      color: rgb(156, 156, 156);
      border-radius: 20px;
      font-size: 12px;
      }
    }

  }

  h1 {
    font-family: $headers-font;
  }


}

.cancel-btn {
  background-color: rgb(184, 65, 65);
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 30px;
  margin: 50px 0px;
  border: 0px;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}
.cancel-btn:hover {
  background-color: rgb(165, 17, 17);

}

.spotify-btn {
  background-color: #1DB954;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.profile-container .user-component .spotify-btn a {
  background-color: #1DB954;
  font-weight: 500;
  color: white;
}
