<div class="container my-3">
  <h1 class="text-center">CONCERTIFY</h1>
  <h3>Welcome <%= current_user.email  %></h3>
  <%= link_to "See all concerts", concerts_path, class: "btn btn-primary" %>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "See all artists", artists_path, class: "btn btn-primary" %>
