
<div class="layout-container">

  <div class="banner-one">
    <h1 class="text-center">Your favourite artists <i class="fa-solid fa-heart pink"></i></h1>

  </div>


  <div class="card-artist-container">
    <% @followed_artists.each do |artist|   %>
      <div class="artist-card">
        <div class="artist-card-img">
          <img src="<%= artist.artist.image_url %>" alt="artist photo">
        </div>
        <div class="artist-card-body">
          <h2><%= link_to "#{artist.artist.name}", artist_path(artist.artist)%></h2>
          <% last_space_index = artist.artist.description.slice(0, 120).rindex(" ") %>
          <p><%= artist.artist.description.slice(0, last_space_index) ... %></p>
        </div>

      </div>


    <% end %>
  </div>

  <div>
    <%= link_to "Go back", root_path, class: "btn btn-light my-5 rounded" %>
  </div>
</div>
