.layout-container {
  background-color: #161616;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 130px;
}

// BANNERS

.banner-one {
  width: 100%;
  height: 300px;
  font-family: $headers-font;
  color: $color-white;
  font-weight: bold;
  font-size: 30px;
  padding: 100px 0px;

  h1 {
    margin-bottom: 50px;

  }
}

.banner-show {
  width: 100%;
  background-color: transparent;
  font-family: $headers-font;
  color: $color-white;
  font-weight: bold;
  font-size: 30px;
  padding: 50px;
}

// Buttons
//  //  Button accent
.btn-accent {
  background-color: $color-accent;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 0px;
  a {
    text-decoration: none;
    font-size: 16px;
    color: $color-white;
    font-family: $headers-font;
    display: block;
  }
}
.btn-accent:hover {
  background-color: #127a75;
  color: white;
}
.pink {
  color: lightcoral;
}
.yellow {
  color: rgb(255, 205, 69);
}

.btn-accent-show {
  background-color: $color-accent;
  width: 1100px;
  padding: 10px;
  margin: 25px;
  border-radius: 8px;
  border: 0px;
  transition: all ease-in-out 0.3s;
  color: $color-white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: $headers-font;
  display: block;
}
.btn-accent-show:hover {
  font-weight: bold;
  box-shadow: 0px 0px 15px #39aea88a;
}
.pink {
  color: lightcoral;
}
.yellow {
  color: rgb(255, 205, 69);
}

.btn-show-back {
  background-color: $color-accent;
  width: 150px;
  padding: 10px;
  margin: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 0px;
  transition: all ease-in-out 0.2s;
  color: $color-white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-family: $headers-font;
  display: block;
}

.btn-show-back:hover {
  color: white;
  background-color: #127a75;
}
.btn-accent-show:hover {
  font-weight: bold;
  box-shadow: 0px 0px 15px #39aea88a;
}
.pink {
  color: lightcoral;
}
.yellow {
  color: rgb(255, 205, 69);
}

.margin-top {
  margin-top: 70px;
}
