.navbar-lewagon {
  justify-content: space-between;
  background-color: #27837e;
  background-color: #202020;
  box-shadow: 5px 0px 30px rgba(19, 19, 19, 0.63);
  padding: 10px 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: $color-accent;
  font-weight: bold;
  font-size: 24px;
  transition: all ease-in-out 0.2s;
}
.navbar-brand:hover {
  color: rgb(187, 253, 255);
}
.nav-link {
  color: $color-accent;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}
.nav-link:hover {
  color: rgb(187, 253, 255);
}

.nav-item.dropdown {
  color: $color-accent;
}
