<div class="container">

  <% @saved_concerts.each do |concert| %>
    <div class="card my-2">
      <div class="card-body">
        <h2><%= link_to "Concert", concert_path(concert)%> by <%= link_to concert.artist.name, artist_path(concert.artist) %></h2>
        <p><strong>Location: </strong><%= concert.location %></p>
        <p><strong>Date: </strong><%= concert.date %></p>
      </div>
    </div>
  <% end %>

</div>
